.layout.layout {
  padding-top: 180px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 180px;
}

.container {
  display: grid;
  gap: 70px;
}

.container span,
.container p {
  font-size: 14px;
  line-height: 20px;
}

.element {
  margin: 0px 180px;
}

.fullBleed {
  margin: 0px;
}

/* x large screens */
@media only screen and (min-width: 1920px) {
  .element {
    margin: 0 17%;
  }
}

@media only screen and (max-width: 600px) {
  .element {
    margin: 0 8% 0 70px;
  }

  .fullBleed {
    margin: 0px;
  }

  .layout.layout {
    padding: 110px 0;
  }
}
