.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 23px;

  padding-top: 30px;
}

.item {
  margin-right: 5px;
}
