html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 17px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
  letter-spacing: 0.01em;
}

h1 {
  font-size: 43px;
}

h3 {
  font-size: 21px;
}

h1,
h3 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
}

span,
p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 23px;
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 0.6em;
  }
}

.block {
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: -10;
}
