.container {
  margin: 0 auto;
  padding-top: 0;

  height: 100vh;
  position: relative;
}

.main__container {
  padding: 184px;
  padding-bottom: 0px;
}

.isMain {
  height: 150vh;
  padding-left: 0;
  padding-right: 0;
}

.main__isMain {
  padding-top: 115vh;
}

.background {
  background-color: #fedd00;
}

@media only screen and (max-width: 500px) {
  .main__container {
    padding: 110px 30px 0px 80px;
  }

  .main__isMain {
    padding: 0;
    padding-top: 100vh;
  }

  .container {
    height: 100%;
  }
}
