.header {
  position: fixed;

  z-index: 10;

  width: 100%;
}

.horizontal__container {
  padding: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.h1,
.h3 {
  text-transform: uppercase;
  margin: 0;
}

.anchor {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 420px) {
  .h1 {
    font-size: 28px;
  }

  .horizontal__container {
    padding: 30px;
  }
}
