.image__container {
  display: inline-block;
  margin: 1.5em;

  position: relative;
}

.image__container:hover {
  cursor: none;
}

.image {
  z-index: 1;
}

.image:hover {
  opacity: 0.5;
}

.isFirst {
  margin-top: 0;
}

.isLast {
  margin-bottom: 0;
}

.title {
  position: absolute;
  font-weight: 700;
  font-size: 20px;
}

.text__static,
.text__dynamic {
  pointer-events: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
  z-index: 10;
}

.text__dynamic {
  position: absolute;
}

.text__static {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .image__container {
    display: inline-block;
    margin: 1em 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {
  .image__container {
    display: inline-block;
    margin: 1.5em;
  }
}
